# Environment Config

# store your secrets and config variables in here
# reference these in your code with process.env.SECRET

DISCORD_TOKEN=<your discord token here>

# note: .env is a shell file so there can't be spaces around =
